{
    "presets": ["next/babel"],
    "plugins": [
        "transform-decorators-legacy",
        ["import", { "libraryName": "antd-mobile" }],
        [
            "transform-runtime",
            {
              "helpers": false,
              "polyfill": true,
              "regenerator": true,
              "moduleName": "babel-runtime"
            }
        ],
        [
          "module-resolver",
          {
            "alias": {
              "@components": "./pages/1-components/index.js",
              "@utils": "./pages/5-utils/index.js",
              "@actions": "./pages/3-actions/index.js"
            }
          }
        ]
    ]
}
